
.form1 p {
    color: white;
    margin-left:10px;
    margin-bottom: 0px;
    padding-top:10px;
    min-width: 66px;
}

.form1 {
    margin-left: 20px;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.form1 div {
    display:flex;
    flex-direction:row;
    margin: 20px;
}

.form1 input {
    margin: 10px;
}

.form1 div div p {
    padding-top:3px;
}

body {
    background: linear-gradient(to right,#5EC4C4,#DD9D44);
}



