

.nbar {
    display:flex;
    background-color: rgb(51, 141, 220);
    flex-direction: row;
    margin-bottom: 10px;
}


.nbar  a {
    text-decoration : none;
    color: black;
    border-left:2px solid black;
    transition: all 1s;
}

.nbar a:hover {
    background: blue
}
.nbar  p {
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 0px;
    padding-top:15px;
    
}
.EmptyBlock {
    margin-right:auto;
    border-left:2px solid black;
}




    

